/* Style du conteneur principal */
.dashboard-container {
    border: none;
    text-align: left;
}

.dashboard-global {
    margin: 0 auto;
    padding: 20px;
    max-width: 1400px;
    border: 1px solid black
}
  
  /* Style de la barre */
  
  /* Style des listes */
  .dashboard-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Style des éléments de la liste */
  .dashboard-item {
    border: 1px solid #ccc;
    padding: 10px;
    min-width: 190px;
    max-width: 300px;
  }
  
  /* Style des boutons */
  .dashboard-button {
    background-color: #007bff; /* Bleu */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Style des boutons de suppression */
  .dashboard-button-delete {
    background-color: #dc3545; /* Rouge */
  }
  
  /* Style des mini-images */
  .mini-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }