.panier-div {
    width: 800px;
    border-radius: 30px;
    margin: auto;
    text-align: left;
}

.panier-fieldset {
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    background-color: rgb(243, 245, 247);
    
}

.panier-fieldset p {
    margin: 0;
    width: 100px;
    text-align: left;
}

.histo-div {
    width: 1400px;
    border-radius: 30px;
    margin: auto;
    text-align: left;
}


.histo-fieldset p {
    margin: 0;
    width: 300px;
    text-align: left;
}
